<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste Técnico - RPC</title>
</head>

<body>
    Teste Técnico - RPC

    <% for(var i = 0; i < 10; i++) {%>
        <p><%=contas[i].name %></p>
        <p><%=contas[i].house %></p>
        <p><%=contas[i].Divida %></p>
        <p><%=contas[i].capacidadePgtoAnual %></p>
    <%} %>
</body>
</html>